* {
    margin: 0;
    padding: 0;
}

.main {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

a {
    text-decoration: none;
    color: black;
    transition: 0.6s ease-in-out;
}

a:hover {
    padding: 10px 20px;
    border-radius: 50%;
    color: black;
}

ul {
    list-style: none;
}

ul li {
    padding: 40px;
    font-size: 40px;
}